<h1>カートの中身</h1>

<!--以下を課題に-->
<% @items.each do |item| %>
    <p>
        商品名: <%= item.name %>、　 価格: <%= item.price %>円
        <%= link_to '[x]', cart_path(item), method: :patch, class: 'command', data: { confirm: '本当に？' } %>
    </p>
<% end %>

<% if @items != [] %>
	<%= form_tag('/cart/:id', :method => :delete) do %>
	    <%= submit_tag 'カートを空にする' %>
	<% end %>
<% end -%>
<br><br>

<!-- 以降は、決済コンポーネントなので、決済機能追加後 -->
<!--mapとeachの違いは、処理はほぼ同じでも、mapは新しい配列にして返す-->
<!-- <% sum = (@items.map{|item| item.price}).sum %> -->
<%= form_tag charges_path do %>
    <article>
        <% if flash[:error].present? %>
            <div id="error_explanation" >
                <p><%= flash[:error] %></p>
            </div>
        <% end %>
        <label class="amount">
            <span>合計金額: <%= @sum %>円</span>
        </label>
    </article>

    <% if @items != [] %>
    <!--↓は、こういうものです。-->
	    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
	            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	            data-description='商品のご購入'
	            data-amount="<%= @sum %>"
	            data-currency="jpy"
	            data-locale="auto"></script>
	<% end -%>
<% end %>

<br><br>
<%= link_to '買い物を続ける', top_path %>



