<h1>商品一覧</h1>

<% @items.each do |item| %>
<div class="item">
	<tr>
		<th>
			<%= item.name %> : <%= item.price %>
			<br>
			<!-- width指定しな場合は、アップロードした時の設定サイズとなる -->
			<%= image_tag item.image, width:'100' %>
		</th>
	    <!--ここで cartパスを指定することでcartコントローラーに飛ぶ-->
	    <%= form_tag '/cart' do %>
	        <%= hidden_field_tag :item_id, item.id %>
	        <%= submit_tag 'カートに入れる', class: 'in_cart' %>
	    <% end %>
	</tr>
</div>
<% end -%>
<div class="space-s"></div>

<%= link_to 'カートを見る', '/cart' %>
<div class="space-m"></div>