// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	width: 100%;
	text-align: center;
}

#wrap {
	margin: 0 auto;
	width: 80%;
}

h1 {
	color: #3498DB;
}

h2 {
	color: #85C1E9;
}

p {
	color: #566573;
}

.item {
	margin-top: 40px;
}
.space-s {
	margin-top: 50px;
}
.space-m {
	margin-top: 150px;
}

.in_cart {
	color: purple;
}