<h1>お支払い完了ページ</h1>
<p>ありがとうございました</p>

<!-- ブラウザの戻るボタンを無効に -->
<script type="text/javascript">
    // (function(){
    //     window.location.hash="no-back";
    //     window.location.hash="no-back-button";
    //     window.onhashchange=function(){
    //         window.location.hash="no-back";
    //     }
    // })();
    // var test = function(){
    //     alert('てすと');
    // }
    // test();

    // history.pushState(null, null, null);

    // window.addEventListener("popstate", function() {
    //     history.pushState(null, null, null);
    // });
	// window.location.hash="#noback";
	// window.onhashchange=function(){
	//     window.location.hash="#noback";
	// }

// window.onunload = function(){};
// history.forward();

</script>