<!DOCTYPE html>
<html>
  <head>
    <title>EcSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">
  	<!-- headerはdeviseを追加したことによる -->
    <header>
        <nav>
            <% if user_signed_in? %>
            	<h2><%= current_user.username %>さん またお会いしましたね</h2>
	            <%= link_to 'プロフィール変更', edit_user_registration_path %>
	            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
	          <% else %>
	            <%= link_to 'サインアップ', new_user_registration_path %>
	            <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
        </nav>
    </header>

  	<!-- devise用flash -->
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </body>
</html>
